HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Frontend Files ###
.DS_Store
src/main/web/node_modules
src/main/web/build
src/main/web/.svelte-kit
src/main/web/package
src/main/web/.env
src/main/web/.env.*
!src/main/web/.env.example
src/main/web/vite.config.js.timestamp-*
src/main/web/vite.config.ts.timestamp-*
